@model IEnumerable<TestMVC.Models.CountryViewModel>

@*Home index*@

<style>
    /*.paginate_button  ,  .current  These are bydefault properties for pagination design change*/
    .paginate_button {
        border: 1px solid #979797 !important;
        background-color: white !important;
        color: whitesmoke !important;
        color: whitesmoke !important;
        font-weight: normal !important;
    }

        .paginate_button:hover {
            border: 1px solid #979797 !important;
            background: #007acc !important;
            color: whitesmoke !important;
            font-weight: bold !important;
        }

    .current {
        border: 1px solid #979797;
        /*background-color: white;*/
        background: #007acc !important;
        color: whitesmoke !important;
        font-weight: bold;
    }
    .tblShadow {
        box-shadow: 0 0 2px 2px #ccc;
    }
</style>
<div style="margin-top:50px;float:right">
    <a href="javascript:void(0)" class="btn btn-primary AddEditRecord" data-value="0" data-toggle="modal" data-target="#divAddCountry" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"></i> Add New Country</a>
</div>

<div id="divAddCountry" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;font-weight:bold" id="ModelHeaderSpan"></h4>
            </div>

            <div class="modal-body">
                <div id="modalDiv"></div>
              
            </div>
        </div>

    </div>

</div>
<div class="abc">
    <div class="table-responsive">
        <table class="table table-bordered table-striped tblShadow" id="myDataTable" width="100%" cellspacing="0">
            <thead style="background-color: #007acc; color: white; ">
                <tr>
                    <th>Country Name</th>
                    <th>Region Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#myDataTable').dataTable({
            "sDom": '<"top">rt<"bottom"lp i><"clear">',
            "autoWidth": true,
            "bLengthChange": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/Home/GetAllCountries",
                "type": "POST",
                "datatype": "json",
                error: function (xhr, httpStatusMessage, customErrorMessage) {
                    if (xhr.status === 410) {
                        window.location.href = customErrorMessage;
                    }
                }
            },
            "columns": [
                { "data": "CountryName", "name": "CountryName", "autoWidth": true, "orderable": true },
                { "data": "RegionName", "name": "RegionName"},
                {
                    "data": "CountryId", "name": "CountryId", "width": "30px", "class": "Acenter", "orderable": false, "render": function (data) {
                        return '<a title="Edit Country" class="AddEditRecord" data-toggle="modal" data-target="#divAddCountry" href="javascript:void(0)" data-value="' + data + '"><i class="fa fa-fw fa-edit txt-color-blue"></i></a>&nbsp' +
                            '<a title="Delete Country" href="javascript:void(0)" class="DeleteRecord" data-value="' + data + '" ><i class="fa fa-fw fa-times-circle" style="color:red"></i></a>';

                    }
                }
                
            ]
        });
        oTable = $('#myDataTable').DataTable();
    })
    $(document).on('click', '.AddEditRecord', function () {

        var id = $(this).attr("data-value");
        if (id > 0) {
            $('#ModelHeaderSpan').html('Edit Country');
        }
        else {
            $('#ModelHeaderSpan').html('Add Country');
        }
        $('#modalDiv').html('');
        $('#modalDiv').load('@Url.Action("insertupdatecountry", "home")?id=' + id + '');
    });
    $(document).on('click', '.DeleteRecord', function () {
        var id = $(this).attr("data-value");
        DeleteRecord(id);
    });
    function DeleteRecord(id) {
        var a = $.confirm({
            title: 'Delete Country',
            content: 'Are you sure you want to delete this country?',
            type: 'white',
            buttons: {
                ok: {
                    text: "Yes",
                    btnClass: 'btnConfirm',
                    keys: ['enter'],
                    action: function () {
                        $.ajax({
                            url: '/home/DeleteModule/' + id,
                            type: "POST",
                            dataType: 'json',
                            success: function (data) {
                                if (data.status == true) {
                                    oTable.ajax.reload(null, false);
                                }
                                else {
                                    alert(data.message);
                                }
                            }
                        })
                    }
                },
                cancel: {
                    text: "No",
                    btnClass: 'btn-default',
                    keys: ['esc'],
                    action: function () {
                        a.close();
                    }
                },
            }
        });
    }

   
</script>
}




